@import "common";

// Separate this file to allow for direct integration by applications with their own variables
// Spec: https://www.google.com/design/spec/components/pickers.html#pickers-date-pickers
.datepicker {
  padding: .25rem;

  &.inline {
    width: 13.75rem;
  }
  &.rtl {
    direction: rtl;
    table tr td span {
      float: right; // this may need to be flexed instead
    }
  }
  table {
    tr {
      td, th {
        width: 2rem;
        height: 2rem;
        text-align: center;
        border: 0;
        border-radius: $border-radius;
      }
      th.dow {
        font-size: .875rem;
        color: $gray-light;
        &.disabled {
          color: $gray-lighter;
        }
      }
      td {
        &.old,
        &.new {
          // spec: hides dates from other months
          visibility: hidden;
        }

        .bmd-btn-icon {
          font-size: .875rem;
          font-weight: normal;
        }

        &.focused .bmd-btn-icon {
          color: $bmd-btn-bg;
          background-color: $bmd-btn-focus-bg;
          border-color: $bmd-btn-focus-bg;
        }

        &.highlighted .bmd-btn-icon {
          //color: $btn-info-color;
          //background-color: $btn-info-bg;
          //border-color: $btn-info-border;
          color: $btn-info-bg;
        }

        &.active {
          &, &.highlighted {
            .bmd-btn-icon {
              color: $btn-primary-color;
              background-color: $btn-primary-bg;
              border-color: $btn-primary-border;
            }
          }
        }

        //&.today {}

        // these appear to be months and years
        span {
          display: block;
          float: left;
          width: 23%;
          height: 54px;
          margin: 1%;
          line-height: 54px;
          cursor: pointer;
          border-radius: $border-radius;
          &:hover,
          &.focused {
            background: $gray-lighter;
          }
          &.disabled,
          &.disabled:hover {
            color: $btn-link-disabled-color;
            cursor: default;
            background: none;
          }
          &.active,
          &.active:hover,
          &.active.disabled,
          &.active.disabled:hover {
            @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
          }
          &.old,
          &.new {
            color: $btn-link-disabled-color;
          }
        }
      }
    }
  }

  .switch {
    width: 145px;
  }

  .switch,
  .prev,
  .next,
  tfoot tr th {
    cursor: pointer;
    &:hover {
      background: $gray-lighter;
    }
  }
}
