// Used to create the default css datepicker-bmd4.css.
//    For full customization, obtain the package via npm and @import "popper" and "bmd4" directly with your own variables.

@import "bootstrap-material-design/scss/variables";
@import "bootstrap/scss/mixins";

$popper-bg: $dropdown-bg !default;
$popper-border-color: $dropdown-border-color !default;

@import "popper";
@import "bmd4";
