// Used to create the default css datepicker-bs4.css.
//    For full customization, obtain the package via npm and @import "popper" and "bs4" directly with your own variables.


@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$popper-bg: $dropdown-bg !default;
$popper-border-color: $dropdown-border-color !default;

@import "popper";
@import "bs4";
