//colors
$white: #fff;
$mercury: #e5e5e5;
$grey: rgba(0,0,0,.15);
$light-grey: rgba(0,0,0,.1);
$lightest-grey: rgba(0,0,0,.065);
$wild-sand: #f5f5f5;

//urls
//$url_0: url(../img/glyphicons-halflings-white.png);
.sandbox-form label {
  margin: .5em .5em;
}

.sidenav {
  width: 228px;
  padding: 0;
  margin: 30px 0 0;
  background-color: $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 6px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 4px $lightest-grey;
  > li {
    > a {
      display: block;
      width: 190px \9;
      padding: 8px 14px;
      margin: 0 0 -1px;
      border: 1px solid $mercury;
      &:hover {
        background-color: $wild-sand;
      }
    }
    &:first-child > a {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 6px 6px 0 0;
    }
    &:last-child > a {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0 0 6px 6px;
    }
  }
  .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }
  .active {
    .icon-chevron-right {
      //background-image: $url_0;
      opacity: 1;
    }
    a:hover .icon-chevron-right {
      //background-image: $url_0;
      opacity: 1;
    }
  }
  &.affix {
    position: fixed;
    top: 20px;
  }
  &.affix-bottom {
    position: fixed;
    top: 20px;
  }
  > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    text-shadow: 0 1px 0 $grey;
    border: 0;
    box-shadow: inset 1px 0 0 $light-grey, inset -1px 0 0 $light-grey;
  }
  a:hover .icon-chevron-right {
    opacity: .5;
  }
}
